extends app
block append title
block append header
block content
  div(id="ws-queue")
  script(src="js/socket.io/socket.io.js")
  script(src="https://w.soundcloud.com/player/api.js")
  script(src="js/plyr.js")