extends app
block append title
block append header
block content
  div(class="ws-player-backdrop")
    div(class="ws-player-backdrop-pattern")
    div(class="ws-player-backdrop-np")
  div(class="ws-player-queue")
  script(src="js/socket.io/socket.io.js")
  script(src="https://w.soundcloud.com/player/api.js")
  script(src="js/plyr.js")