extends index
block title
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
title #{title}
link(rel="stylesheet" type="text/css" href="css/success.css")
link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400:700")
body 
block header
block content
  div(id="ws-load-button")="Go to App"
  div(id="ws-auth-success")="You were successfully authenticated."
  input(type="hidden" value=token)
  script(src="js/success.js")
